.social-links-container {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-links-container li {
  display: inline;
  color: white;
}

.social-links-container li a {
  display: inline-block;
  padding: 0 20px;
  font-size: 40px;
}

.social-button {
  color: white;
}
.github-button:hover {
  color: #333 !important;
}
.twitter-button:hover {
  color: #1da1f2 !important;
}
.linkedin-button:hover {
  color: #0077b5 !important;
}
.medium-button:hover {
  color: #00ab6c !important;
}

.social-button:hover {
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  animation-name: icon-wobble;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes icon-wobble {
  25% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}
