.read-more {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.read-more:hover {
  background-color: #000;
  border: 1px solid #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff !important;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.blog-title {
  padding: 15px 0 0 0;
}

.blog-post-list-item::after {
  position: relative;
  content: url(../images/separator.png);
}

.post-avatar-date {
  align-items: center;
  display: flex;
}
.headshot {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  align-items: center;
  display: inline-block;
}
