.toolbar {
  background: black;
  height: 78px;
}

.toolbar__logo a {
  color: white;
  text-decoration: none !important;
  font-size: 1.5rem;
}

.toolbar__logo a:hover {
  color: darkgrey;
}
.toolbar-navigation-items ul {
  list-style: none;
  display: flex;
}

.nav-links {
  background-color: black !important;
  text-decoration: none !important;
}
