h1 {
  padding-top: 75px;
  font-size: 100px;
  text-align: center;
  color: black;
}
.homepage-text {
  padding: 22px;
  color: black;
  text-align: center;
}

.header {
  display: hide;
}

h2 {
  padding-top: 15px;
}

.react-icon {
  color: #61dbfb;
}
.js-icon {
  color: #f0db4f;
}

.homepage-text a {
  color: inherit;
}

.homepage-text {
  font-size: 20px;
}
.bgd-wrapper {
  margin: 0;
  padding: 0;
  background: white;
}
body,
html {
  height: 100%;
}
